.ukutabs-importer-text-error {
	color: var(--text-error);
}

.ukutabs-importer-hidden {
	display: none;
}

.ukutabs-importer-chords-codeblock {
	background-color: white;
	padding: 5px;
	border-radius: var(--radius-m);
	display: flex;
	justify-content: start;
	align-items: center;
}

.ukutabs-importer-song {
	--indentation-guide-color: transparent;
}
